<h2>Edit event</h2>

<%= render "form.html", changeset: @changeset,
                        action: student_event_path(@conn, :update, @student, @event) %>

<%= link "Back", to: student_event_path(@conn, :index, @student) %>
