<h2>New event</h2>

<%= render "form.html", changeset: @changeset,
                        action: student_event_path(@conn, :create, @student) %>

<%= link "Back", to: student_event_path(@conn, :index, @student) %>
